RTSP Regression error between releases 17.14 and 15

<!--
To increase the chance of your issue getting fixed, open an issue FOR EACH problem. Please do not report multiple problems in a single issue, otherwise they'll probably never get ALL fixed.
-->

## Which version are you using?

v0.17.15

## Which operating system are you using?

<!-- fill checkboxes with a x. Example: [x] Linux -->

- [X ] Linux amd64 standard
- [ ] Linux amd64 Docker
- [ ] Linux arm64 standard
- [ ] Linux arm64 Docker
- [ ] Linux arm7 standard
- [ ] Linux arm7 Docker
- [ ] Linux arm6 standard
- [ ] Linux arm6 Docker
- [ ] Windows amd64 standard
- [ ] Windows amd64 Docker (WSL backend)
- [ ] macOS amd64 standard
- [ ] macOS amd64 Docker
- [ ] Other (please describe)

## Describe the issue

Description
RTSP(S) connection fails for the LARIX broadcaster for release version greater or equal to 17.15.
Larix fails with "Unknown connection failure"

Recreation 
Stream to server using LARIX with version 17.15/16 rtsp-simple-server and it will not work

Things Ive checked
- FFMPEG for 17.15/16 works from same network
- RTSP and RTSPS fail
- VIDEO only on larix fails
- removed the scripts that are called by runOnReady

It looks like there is a bad request in the signaling setup between rtsp-simple-server and LARIX. 

## server logs
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: 2022/02/03 16:27:58 INF [RTSPS] [conn 37.228.248.84:20198] opened
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: 2022/02/03 16:27:58 DEB [RTSPS] [conn 37.228.248.84:20198] [c->s] OPTIONS rtsps://wowza2.marteye.ie:8555/live/JG5ckN3HNQgmkVeQms8iFD74X4t1_feeney RTSP/1.0
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: CSeq: 1
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: User-Agent: Larix/null
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: [1B blob data]
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: 2022/02/03 16:27:58 DEB [RTSPS] [conn 37.228.248.84:20198] [s->c] RTSP/1.0 200 OK
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: CSeq: 1
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: Public: DESCRIBE, ANNOUNCE, SETUP, PLAY, RECORD, PAUSE, GET_PARAMETER, TEARDOWN
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: Server: gortsplib
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: [1B blob data]
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: 2022/02/03 16:27:58 DEB [RTSPS] [conn 37.228.248.84:20198] [c->s] ANNOUNCE rtsps://wowza2.marteye.ie:8555/live/JG5ckN3HNQgmkVeQms8iFD74X4t1_feeney RTSP/1.0
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: CSeq: 2
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: Content-Length: 387
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: Content-Type: application/sdp
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: User-Agent: Larix/null
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: [1B blob data]
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: v=0
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: m=video 0 RTP/AVP/TCP 96
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: a=rtpmap:96 H264/90000
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: a=fmtp:96 packetization-mode=1; sprop-parameter-sets=Z0LAH9oBQBbpqAgICgHJw4BHhowAHixdQA==,aM4NiA==; profile-level-id=42c01f
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: a=control:streamid=0
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: m=audio 0 RTP/AVP/TCP 97
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: a=rtpmap:97 mpeg4-generic/44100/1
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: a=fmtp:97 profile-level-id=1;mode=AAC-hbr;sizelength=13;indexlength=3;indexdeltalength=3;config=1208
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: a=control:streamid=1
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: 2022/02/03 16:27:58 INF [RTSPS] [session 160505601] opened by 37.228.248.84:20198
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: 2022/02/03 16:27:58 DEB [path live/JG5ckN3HNQgmkVeQms8iFD74X4t1] opened
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: 2022/02/03 16:27:58 DEB [RTSPS] [conn 37.28.248.84:20198] [s->c] RTSP/1.0 200 OK
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: CSeq: 2
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: Server: gortsplib
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: Session: 1031573760;timeout=60
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: [1B blob data]
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: 2022/02/03 16:27:58 DEB [RTSPS] [conn 37.28.248.84:20198] [c->s] SETUP rtsps://wowza2.marteye.ie:8555/live/JG5ckN3HNQgmkVeQms8iFD74X4t1/streamid=0 RTSP/1.0
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: CSeq: 3
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: Session: 1031573760;timeout=60
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: Transport: RTP/AVP/TCP;unicast;interleaved=0-1;mode=record
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: User-Agent: Larix/null
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: [1B blob data]
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: 2022/02/03 16:27:58 INF [RTSPS] [session 677704054] opened by 37.228.248.84:20198
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: 2022/02/03 16:27:58 DEB [RTSPS] [conn 37.28.248.84:20198] [s->c] RTSP/1.0 400 Bad Request
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: CSeq: 3
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: Server: gortsplib
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: [1B blob data]
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: 2022/02/03 16:27:58 INF [RTSPS] [conn 37.28.248.84:20198] closed (invalid track path (live/JG5ckN3HNQgmkVeQms8iFD74X4t1/streamid=0))
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: 2022/02/03 16:27:58 INF [RTSPS] [session 677704054] closed (not in use)
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: 2022/02/03 16:27:58 DEB [path live/JG5ckN3HNQgmkVeQms8iFD74X4t1] closed (not in use)
Feb 03 16:27:58 video2 rtsp-simple-server[29939]: 2022/02/03 16:27:58 INF [RTSPS] [session 160505601] closed (not in use)


Hello, i checked the issue, but it is caused by a bug in Larix's RTSP implementation.

Since v0.17.15, the server inserts the session timeout inside the session header:

```
RTSP/1.0 200 OK
CSeq: 2
Server: gortsplib
Session: 3289688595;timeout=60
```

A client must send the session ID without the timeout value; this is a correct request:

```
SETUP rtsp://192.168.3.21:8554/mystream/streamid=0 RTSP/1.0
CSeq: 3
Session: 3289688595
Transport: RTP/AVP/TCP;unicast;interleaved=0-1;mode=record
```

Larix instead sends this:

```
SETUP rtsp://192.168.3.21:8554/mystream/streamid=0 RTSP/1.0
CSeq: 3
Session: 3289688595;timeout=60
Transport: RTP/AVP/TCP;unicast;interleaved=0-1;mode=record
```

Please report the issue to the Larix developers.

Thansk

> ```
> 
> ```
> 
> 
>     
>   
> 
> A client must send the session ID without the timeout value; this is a correct request:
Hi, I'm Larix team representative. Thanks for your analysis. Please refer rfc that explicitly states that reply to setup MUST exclude session params and provide pure session id.


Hi @alexpokotilo , RFC 2326, section 12.37:

> The timeout parameter is only allowed in a response header

Furthermore, all popular RTSP clients (VLC, FFmpeg, Gstreamer) remove the timeout value from requests. I had to deal with this issue some time ago when i was interacting with analog->RTSP servers from Axis, that returns an error when a client sends back to the server the session header without removing the timeout value.

Thank you for clarification. We'll fix this in one of the upcoming releases of Larix Broadcaster for Android and iOS.

> Thank you for clarification. We'll fix this in one of the upcoming releases of Larix Broadcaster for Android and iOS.

Hello, sir, good to see you here. 
But the Larix Screencaster has the same problem.

> > ```
> > 
> > ```
> > 
> > 
> >     
> >       
> >     
> > 
> >       
> >     
> > 
> >     
> >   
> > A client must send the session ID without the timeout value; this is a correct request:
> 
> Hi, I'm Larix team representative. Thanks for your analysis. Please refer rfc that explicitly states that reply to setup MUST exclude session params and provide pure session id.

Hello, sir, @alexpokotilo @WMSPanel  good to see you here.
But the Larix Screencaster has the same problem.

By the way, the Larix Player cannot receive both RTMP and RTSP though Rtsp-simple-server.

@iesvme please stop spamming, this is not a forum.